@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

.body-slider {
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100%;
    position: relative;
}

.slider-container {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-size: cover;
    position: absolute;
    transition: 0.4s ease;
    z-index: 1;
}

.slide.active {
    opacity: 1;
}

.arrows-container {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.arrow {
    background-color: transparent;
    padding: 5px 15px;
    font-size: xx-large;
    border: 2px solid orange;
    color: white;
    cursor: pointer;
}

.arrow:focus {
    outline: 0;
}

.left-arrow {
    margin-top: 5px;
}

.right-arrow {
    margin-top: 5px;
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    height: 100%;
    text-align: left;
    color: #fff;
    margin: 10px 20%;
}

.slide-content h1 {
    margin-bottom: 20px;
}

.slide-content p {
    margin-bottom: 5px;
    margin-top: 25px;
}

.slide-link {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.slide-link:hover {
    background-color: #0056b3;
}

@media only screen and (max-width: 768px) {
    .slide-content {
        margin: 10px 10% 10px 25%;
    }

    .slide-content h1 {
        margin-bottom: 5px;
    }

}

/* slide.css */

.slide-enter {
    animation: slide-in-enter 0.5s ease-in-out;
}

.slide-exit {
    animation: slide-out-enter 0.5s ease-in-out;
}

@keyframes slide-in-enter {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out-enter {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}